In [35]:
from bs4 import BeautifulSoup
import csv
import os
import datetime as dt 
from splinter import Browser
from bs4 import BeautifulSoup
import re
from selenium import webdriver
import json
import pandas as pd
import datetime as dt
import numpy

In [2]:
# Web Scraped Data: 
# [KVUE Allergy Calendar](https://kvue.com/allergy)
# Scrape Monthly Allergy Calendar data as PDFs 
# save each to html
# loop through html files to make a list 

files = os.listdir('resources/html_files/cal_v2')
url = 'resources/html_files/cal_v2'

file_list = []
for f in files:
    file_list.append(url + "/" + f)  
file_list

['resources/html_files/cal_v2/09_sep.html',
 'resources/html_files/cal_v2/04_apr.html',
 'resources/html_files/cal_v2/08_aug.html',
 'resources/html_files/cal_v2/10_oct.html',
 'resources/html_files/cal_v2/07_jul.html',
 'resources/html_files/cal_v2/01_jan.html',
 'resources/html_files/cal_v2/06_jun.html',
 'resources/html_files/cal_v2/05_may.html',
 'resources/html_files/cal_v2/03_mar.html',
 'resources/html_files/cal_v2/02_feb.html']

In [3]:
# create list to put all the data into
raw_data = []

In [4]:
# loop through each html file from KVUE to scrap
for file in file_list:
    print(f'---- Processing file {file} -----')
    
    # scrape file
    soup = BeautifulSoup(open(file), "lxml")
    
    # get month & date
    month_date = soup.find('p', class_='s2').text
    # print(month_date)
    
    # get all the days (which are td's in the table)
    days = soup.find('table').find_all('td')
    
    #  loop through all the days and gather info for the month
    counter = 0
    calc_day = 0
    
    for day in days:
        try:
            data = day.find_all('p')

            # check to make sure we have two data elements. if two elements, we know it's actual day
            # even if the day element is empty/missing
            if len(data) > 1:
                # need a date calculator as bad html doesn't always produce a day number in the td
                calc_day +=1

                day = data[0].text
                allergens = data[1].text

                print(f'Counter {counter} Day: {day} Calc Day: {calc_day} Allergens: {allergens}')
                raw_data_dict = {}
                raw_data_dict["MonthYear"] = month_date
                raw_data_dict["Day"] = calc_day
                raw_data_dict["Allergens"] = allergens
                raw_data.append(raw_data_dict)
                
            else:
                # does not have two data elements. see if the day element has a value
                day = data[0].text
                if day != '':
                    # check to see if we already have this day in the dicitonary. 
                    # if so, skip it. just bad html formatting.
                    # if not, let's add it cuz it means no allergen data found for that day
                    if not any(data['MonthYear'] == month_date and data['Day'] == int(day) for data in raw_data):
                        print(f'Missing Allergen. Counter {counter} Day: {day}')
                        raw_data_dict = {}
                        raw_data_dict["MonthYear"] = month_date
                        raw_data_dict["Day"] = int(day)
                        raw_data_dict["Allergens"] = ''
                        raw_data.append(raw_data_dict)  

                        calc_day +=1
                    
        except:
            print(f'Issue for counter {counter}')
        finally:
            counter += 1

---- Processing file resources/html_files/cal_v2/09_sep.html -----
Counter 0 Day:  Calc Day: 1 Allergens: Mold Medium.
Counter 2 Day: 2 Calc Day: 2 Allergens: Mold Medium.
Counter 3 Day:  Calc Day: 3 Allergens: Molds High with Alternaria.
Counter 5 Day:  Calc Day: 4 Allergens: Mold Medium
Counter 7 Day:  Calc Day: 5 Allergens: Fall Elm Low 7 gr/m3, Grass Medium 20 gr/m3, and Mold Medium with Alternaria
Counter 9 Day:  Calc Day: 6 Allergens: Mold Medium.
Counter 11 Day:  Calc Day: 7 Allergens: Mold Medium.
Counter 13 Day:  Calc Day: 8 Allergens: Grass Medium 13 gr/m3, and Mold Medium with Alternaria
Counter 15 Day: 9 Calc Day: 9 Allergens: Ragweed medium 13 gr/m3, Mold Medium with alternaria
Counter 16 Day:  Calc Day: 10 Allergens: Ragweed Low 7 gr/m3, Mold Medium
Counter 18 Day:  Calc Day: 11 Allergens: Ragweed Low 7 gr/m3, Mold Medium
Counter 20 Day: 12 Calc Day: 12 Allergens: Ragweed Medium 27 gr/m3, Mold Medium with Alternaria.
Counter 21 Day: 13 Calc Day: 13 Allergens: Ragweed Medium 20 gr/m3, Mold Medium with Alternaria.
Counter 22 Day: 14 Calc Day: 14 Allergens: Ragweed Medium 20 gr/m3, Mold Low.
Counter 23 Day: 15 Calc Day: 15 Allergens: Ragweed Medium 13 gr/m3, Molds High with Alternaria
Counter 24 Day: 16 Calc Day: 16 Allergens: Ragweed High 53 gr/m3, Molds High with Alternaria
Counter 25 Day: 17 Calc Day: 17 Allergens: Ragweed Low 7 gr/m3, Mold High with Alternaria
Counter 26 Day:  Calc Day: 18 Allergens: Ragweed High 127 gr/m3, Mold High with Alternaria
Counter 28 Day:  Calc Day: 19 Allergens: Ragweed High 106 gr/m3, Mold High with Alternaria
Counter 30 Day:  Calc Day: 20 Allergens: Ragweed High 133 gr/m3, Mold High with Alternaria
Counter 32 Day: 21 Calc Day: 21 Allergens: Ragweed High 60 gr/m3, Mold High with Alternaria
Missing Allergen. Counter 33 Day: 22
Counter 34 Day: 23 Calc Day: 23 Allergens: Ragweed Medium 47 gr/m3, Mold High with Alternaria, Fall Elm Low 13 gr/m3
Counter 35 Day: 24 Calc Day: 24 Allergens: Ragweed High 133 gr/m3, Mold High with Alternaria, Fall Elm Med 20 gr/m3
Counter 36 Day: 25 Calc Day: 25 Allergens: Ragweed High 80 gr/m3, Mold High with Alternaria, Fall Elm Med 20 gr/m3
Counter 37 Day: 26 Calc Day: 26 Allergens: Ragweed High 107 gr/m3, Mold High with Alternaria, Fall Elm Med 20 gr/m3
Counter 38 Day: 27 Calc Day: 27 Allergens: Ragweed High 117 gr/m3, Mold High with Alternaria, Fall Elm Med 27 gr/m3
Counter 39 Day: 28 Calc Day: 28 Allergens: Ragweed High 66 gr/m3, Fall Elm Medium 20 gr/m3, Mold High with Alternaria
Counter 40 Day: 29 Calc Day: 29 Allergens: Ragweed High 60 gr/m3, Fall Elm Low 13 gr/m3, Mold High with Alternaria
Counter 41 Day: 30 Calc Day: 30 Allergens: Ragweed High 67 gr/m3, Fall Elm Low 13 gr/m3, Mold High with Alternaria
---- Processing file resources/html_files/cal_v2/04_apr.html -----
Counter 1 Day: 1 Calc Day: 1 Allergens: Oak High 646 gr/m3, Grass High 47 gr/m3, Ash Medium 20 gr/m3, Mold Low.
Counter 2 Day: 2 Calc Day: 2 Allergens: Oak High 380 gr/m3, Grass Medium 20 gr/m3, Ash Medium 26 gr/m3, Mold Low.
Counter 3 Day: 3 Calc Day: 3 Allergens: Oak High 353 gr/m3, Grass Medium 13 gr/m3, Ash Low 7 gr/m3, Mold Medium.
Counter 4 Day: 4 Calc Day: 4 Allergens: Oak High 147 gr/m3, Grass High 106 gr/m3, Ash Medium 27 gr/m3, High Medium.
Counter 5 Day: 5 Calc Day: 5 Allergens: Oak High 2350 gr/m3, Grass High 67 gr/m3, Ash Medium 27
Counter 6 Day: 6 Calc Day: 6 Allergens: Oak High 1519 gr/m3, Grass High 400 gr/m3, Ash Medium 53 gr/m3, Mold Medium with Alternaria
Counter 7 Day: 7 Calc Day: 7 Allergens: Oak Medium 153 gr/m3, Grass Medium 13 gr/m3, Mold Medium.
Counter 8 Day: 8 Calc Day: 8 Allergens: Oak Medium 33 gr/m3, Grass High 40 gr/m3, Ash Low 13 gr/m3,
Counter 9 Day: 9 Calc Day: 9 Allergens: Oak High 892 gr/m3, Grass High 46 gr/m3, Mold High with Alternaria.
Counter 10 Day: 10 Calc Day: 10 Allergens: Oak High 140 gr/m3, Grass High 46 gr/m3, Mold Medium with Alternaria.
Counter 11 Day: 11 Calc Day: 11 Allergens: Oak Medium 67 gr/m3, Grass Medium 20 gr/m3, Ash Low 7 gr/m3, Mold Medium with Alternaria.
Counter 12 Day: 12 Calc Day: 12 Allergens: Oak High 912 gr/m3, Grass Medium 20 gr/m3, Mold Medium.
Counter 13 Day: 13 Calc Day: 13 Allergens: Oak High 306 gr/m3, Grass High 153 gr/m3, Mold Low.
Counter 14 Day: 14 Calc Day: 14 Allergens: Oak High 233 gr/m3, Grass High 53 gr/m3, Mold Medium
Counter 15 Day: 15 Calc Day: 15 Allergens: Oak Medium 27 gr/m3, Grass Medium 13 gr/m3, Mold Medium.
Counter 16 Day: 16 Calc Day: 16 Allergens: Oak Low 13 gr/m3, Grass Low 7 gr/m3, Mold Medium with Alternaria.
Counter 17 Day: 17 Calc Day: 17 Allergens: Oak High 100 gr/m3, Grass Medium 20 gr/m3, Mold Medium with Alternaria.
Counter 18 Day: 18 Calc Day: 18 Allergens: Oak Medium 60 gr/m3,
Counter 19 Day: 19 Calc Day: 19 Allergens: Oak High 93 gr/m3, Grass High 47 gr/m3, Mold Medium
Counter 20 Day: 20 Calc Day: 20 Allergens: Oak Medium 67 gr/m3, Grass Medium 20 gr/m3, Mold Medium with Alternaria
Counter 21 Day: 21 Calc Day: 21 Allergens: Oak Medium 80 gr/m3, Pecan Medium 20 gr/m3, Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 22 Day: 22 Calc Day: 22 Allergens: Oak Medium 53 gr/m3, Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 23 Day: 23 Calc Day: 23 Allergens: Oak Medium 33 gr/m3, Grass High 27 gr/m3, Mold Medium
Counter 24 Day: 24 Calc Day: 24 Allergens: Mold Low
Counter 25 Day: 25 Calc Day: 25 Allergens: Oak Medium 47 gr/m3, Grass Medium 13 gr/m3, Mold Low
Counter 26 Day: 26 Calc Day: 26 Allergens: Oak Medium 53 gr/m3, Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 27 Day: 27 Calc Day: 27 Allergens: Oak Medium 40 gr/m3, Grass High 80 gr/m3, Pecan Medium 87 gr/m3, Mold Medium with Alternaria
Counter 28 Day: 28 Calc Day: 28 Allergens: Pecan Medium 27 gr/m3, Mold Low
Counter 29 Day: 29 Calc Day: 29 Allergens: Oak Low 13 gr/m3, Grass High 67 gr/m3, Pecan Medium 53 gr/m3, Mold Low.
Counter 30 Day: 30 Calc Day: 30 Allergens: Pecan Low 13 gr/m3, Grass High 33 gr/m3, Mold Low
---- Processing file resources/html_files/cal_v2/08_aug.html -----
Counter 4 Day:  Calc Day: 1 Allergens: Molds High with Alternaria
Counter 6 Day: 2 Calc Day: 2 Allergens: Molds Medium with Alternaria
Counter 7 Day:  Calc Day: 3 Allergens: Grass Medium 20 gr/m3, Mold High.
Counter 9 Day:  Calc Day: 4 Allergens: Mold High with Alternaria
Counter 11 Day:  Calc Day: 5 Allergens: Mold High with Alternaria
Counter 13 Day:  Calc Day: 6 Allergens: Mold High.
Counter 15 Day:  Calc Day: 7 Allergens: Mold Medium with Alternaria
Counter 17 Day:  Calc Day: 8 Allergens: Mold Medium with Alternaria
Counter 19 Day: 9 Calc Day: 9 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 20 Day: 10 Calc Day: 10 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 21 Day:  Calc Day: 11 Allergens: Mold Medium with Alternaria
Counter 23 Day: 12 Calc Day: 12 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 24 Day: 13 Calc Day: 13 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 25 Day: 14 Calc Day: 14 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 26 Day:  Calc Day: 15 Allergens: Mold Medium.
Counter 28 Day: 16 Calc Day: 16 Allergens: Grass Low 7 gr/m3, Mold High
Counter 29 Day: 17 Calc Day: 17 Allergens: Grass Medium 13 gr/m3, Mold High with Alternaria.
Counter 30 Day:  Calc Day: 18 Allergens: Mold Medium with Alternaria.
Counter 32 Day:  Calc Day: 19 Allergens: Mold Medium with Alternaria
Counter 34 Day:  Calc Day: 20 Allergens: Mold Medium with Alternaria
Counter 36 Day:  Calc Day: 21 Allergens: Mold Medium with Alternaria
Counter 38 Day: 22 Calc Day: 22 Allergens: Grass Low 7 gr/m3, Mold High with Alternaria
Counter 39 Day: 23 Calc Day: 23 Allergens: Mold High.
Counter 40 Day:  Calc Day: 24 Allergens: Mold Medium with Alternaria.
Counter 42 Day:  Calc Day: 25 Allergens: Mold Medium.
Counter 44 Day:  Calc Day: 26 Allergens: Molds Medium with Alternaria
Counter 46 Day:  Calc Day: 27 Allergens: Mold High with Alternaria
Counter 48 Day:  Calc Day: 28 Allergens: Mold High with Alternaria.
Counter 50 Day:  Calc Day: 29 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 52 Day: 30 Calc Day: 30 Allergens: Grass Low 7 gr/m3, Mold Medium
Counter 53 Day:  Calc Day: 31 Allergens: Mold Medium with Alternaria.
---- Processing file resources/html_files/cal_v2/10_oct.html -----
Counter 2 Day: 1 Calc Day: 1 Allergens: Ragweed High 54 gr/m3, Fall Elm Low 13 gr/m3, Mold High with Alternaria
Counter 3 Day: 2 Calc Day: 2 Allergens: Ragweed High 153 gr/m3, Fall Elm Med 54 gr/m3, Mold High with Alternaria
Counter 4 Day: 3 Calc Day: 3 Allergens: Ragweed High 200 gr/m3, Fall Elm Med 27 gr/m3, Mold High with Alternaria
Counter 5 Day: 4 Calc Day: 4 Allergens: Ragweed High 153 gr/m3, Fall Elm Med 33 gr/m3, Mold High with Alternaria
Counter 6 Day: 5 Calc Day: 5 Allergens: Ragweed High 127 gr/m3, Fall Elm Med 40 gr/m3, Mold High with Alternaria.
Counter 7 Day: 6 Calc Day: 6 Allergens: Ragweed High 133 gr/m3, Fall Elm Med 27 gr/m3, Mold High with Alternaria
Counter 8 Day: 7 Calc Day: 7 Allergens: Ragweed High 147 gr/m3, Fall Elm Med 40 gr/m3, Mold High with Alternaria.
Counter 9 Day: 8 Calc Day: 8 Allergens: Ragweed High 186 gr/m3, Fall Elm Med 27 gr/m3, Mold High with Alternaria.
Counter 10 Day: 9 Calc Day: 9 Allergens: Ragweed High 206 gr/m3, Fall Elm Med 33 gr/m3, Mold High with Alternaria.
Counter 11 Day: 10 Calc Day: 10 Allergens: Ragweed High 147 gr/m3, Fall Elm Med 47 gr/m3, Mold High with Alternaria.
Counter 12 Day: 11 Calc Day: 11 Allergens: Ragweed High 100 gr/m3, Fall Elm Med 33 gr/m3, Mold High with Alternaria.
Counter 13 Day: 12 Calc Day: 12 Allergens: Ragweed Medium 80 gr/m3, Fall Elm Med 27 gr/m3, Mold High.
Missing Allergen. Counter 14 Day: 13
Missing Allergen. Counter 15 Day: 14
Missing Allergen. Counter 16 Day: 15
Missing Allergen. Counter 17 Day: 16
Missing Allergen. Counter 18 Day: 17
Missing Allergen. Counter 19 Day: 18
Missing Allergen. Counter 20 Day: 19
Missing Allergen. Counter 21 Day: 20
Missing Allergen. Counter 22 Day: 21
Missing Allergen. Counter 23 Day: 22
Missing Allergen. Counter 24 Day: 23
Missing Allergen. Counter 25 Day: 24
Missing Allergen. Counter 26 Day: 25
Missing Allergen. Counter 27 Day: 26
Missing Allergen. Counter 28 Day: 27
Missing Allergen. Counter 29 Day: 28
Missing Allergen. Counter 30 Day: 29
Missing Allergen. Counter 31 Day: 30
Missing Allergen. Counter 32 Day: 31
---- Processing file resources/html_files/cal_v2/07_jul.html -----
Counter 1 Day: 1 Calc Day: 1 Allergens: Mold High.
Counter 2 Day: 2 Calc Day: 2 Allergens: Grass Low 7 gr/m3, Mold High with Alternaria
Counter 3 Day:  Calc Day: 3 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 5 Day: 4 Calc Day: 4 Allergens: Grass Low 7 gr/m3, Mold High with Alternaria
Counter 6 Day: 5 Calc Day: 5 Allergens: Grass Medium 13 gr/m3, Mold High with Alternaria
Counter 7 Day: 6 Calc Day: 6 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 8 Day: 7 Calc Day: 7 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 9 Day: 8 Calc Day: 8 Allergens: Grass Medium 14 gr/m3, Mold High with Alternaria
Counter 10 Day: 9 Calc Day: 9 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 11 Day: 10 Calc Day: 10 Allergens: Grass Low 7 gr/m3, Mold High with Alternaria
Counter 12 Day: 11 Calc Day: 11 Allergens: Grass High 27 gr/m3, Mold Medium with Alternaria.
Counter 13 Day: 12 Calc Day: 12 Allergens: Grass Medium 13 gr/m3, Mold High with Alternaria
Missing Allergen. Counter 14 Day: 13
Counter 15 Day: 14 Calc Day: 14 Allergens: Grass Medium 13 gr/m3, Mold High with Alternaria
Counter 16 Day: 15 Calc Day: 15 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 17 Day: 16 Calc Day: 16 Allergens: Grass Medium 20 gr/m3, Mold Medium with Alternaria
Counter 18 Day: 17 Calc Day: 17 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 19 Day: 18 Calc Day: 18 Allergens: Mold Medium.
Counter 20 Day: 19 Calc Day: 19 Allergens: Mold Medium.
Counter 21 Day: 20 Calc Day: 20 Allergens: Mold High.
Counter 22 Day: 21 Calc Day: 21 Allergens: Mold Medium.
Counter 23 Day: 22 Calc Day: 22 Allergens: Mold Medium
Counter 24 Day: 23 Calc Day: 23 Allergens: Grass Medium 20 gr/m3, Mold Medium with Alternaria
Counter 25 Day:  Calc Day: 24 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 27 Day: 25 Calc Day: 25 Allergens: Grass Medium 20 gr/m3, Mold Medium with Alternaria
Counter 28 Day: 26 Calc Day: 26 Allergens: Grass Low 7 gr/m3, Mold High.
Counter 29 Day: 27 Calc Day: 27 Allergens: Mold Medium.
Counter 30 Day: 28 Calc Day: 28 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 31 Day: 29 Calc Day: 29 Allergens: Grass Low 7 gr/m3, Mold High
Counter 32 Day: 30 Calc Day: 30 Allergens: No data
Counter 33 Day:  Calc Day: 31 Allergens: No data
---- Processing file resources/html_files/cal_v2/01_jan.html -----
Counter 2 Day: 1 Calc Day: 1 Allergens: Cedar Medium 346 gr/m3, Mold Medium
Counter 3 Day:  Calc Day: 2 Allergens: Mold Low.
Counter 5 Day: 3 Calc Day: 3 Allergens: Mold Low.
Counter 6 Day:  Calc Day: 4 Allergens: Mold Low.
Counter 8 Day: 5 Calc Day: 5 Allergens: Cedar Low 20 gr/m3, Mold Medium
Counter 9 Day: 6 Calc Day: 6 Allergens: Cedar Low 20 gr/m3, Mold Medium
Counter 10 Day: 7 Calc Day: 7 Allergens: Cedar Low 27 gr/m3, Mold Medium.
Counter 11 Day: 8 Calc Day: 8 Allergens: Cedar Low 486 gr/m3, Mold High.
Counter 12 Day:  Calc Day: 9 Allergens: Cedar High 1232 gr/m3, Mold Medium.
Counter 14 Day: 10 Calc Day: 10 Allergens: Cedar Low 60 gr/m3, Mold Medium.
Counter 15 Day: 11 Calc Day: 11 Allergens: Cedar Low 67 gr/m3, Mold Medium.
Counter 16 Day:  Calc Day: 12 Allergens: Mold High.
Counter 18 Day: 13 Calc Day: 13 Allergens: Cedar Medium 326 gr/m3, Mold High.
Counter 19 Day: 14 Calc Day: 14 Allergens: Cedar Medium 160 gr/m3, Mold Low.
Counter 20 Day: 15 Calc Day: 15 Allergens: Cedar Medium 100 gr/m3, Mold Low
Counter 21 Day:  Calc Day: 16 Allergens: Cedar Low 13 gr/m3, Mold Moderate with Alternaria.
Counter 23 Day: 17 Calc Day: 17 Allergens: Cedar Low 7 gr/m3, Mold Moderate.
Counter 24 Day: 18 Calc Day: 18 Allergens: Cedar Low 40 gr/m3, Mold Low.
Counter 25 Day:  Calc Day: 19 Allergens: Cedar Low 87 gr/m3, Mold Low
Counter 27 Day: 20 Calc Day: 20 Allergens: Cedar High 638 gr/m3, Mold Low
Counter 28 Day: 21 Calc Day: 21 Allergens: Cedar Low 20 gr/m3, Mold High with Alternaria.
Counter 29 Day: 22 Calc Day: 22 Allergens: Cedar Medium 126 gr/m3, Mold High with Alternaria.
Counter 30 Day:  Calc Day: 23 Allergens: Cedar Medium 146 gr/m3, Mold Low.
Counter 32 Day: 24 Calc Day: 24 Allergens: Cedar Low 20 gr/m3, Mold Medium.
Counter 33 Day: 25 Calc Day: 25 Allergens: Cedar Low 220 gr/m3, Mold High with Alternaria.
Counter 34 Day:  Calc Day: 26 Allergens: Cedar Low 20 gr/m3, Mold High
Counter 36 Day: 27 Calc Day: 27 Allergens: Cedar Low 13 gr/m3, Mold Medium.
Counter 37 Day: 28 Calc Day: 28 Allergens: Cedar Low 27 gr/m3, Mold High with Alternaria.
Counter 38 Day: 29 Calc Day: 29 Allergens: Cedar Low 73 gr/m3, Mold Medium.
Counter 39 Day: 30 Calc Day: 30 Allergens: Elm Medium 86 gr/m3, Cedar Low 27 gr/m3, Mold High.
Counter 40 Day: 31 Calc Day: 31 Allergens: Elm Medium 53 gr/m3, Cedar Low 53 gr/m3, Mold High with Alternaria.
---- Processing file resources/html_files/cal_v2/06_jun.html -----
Counter 6 Day: 1 Calc Day: 1 Allergens: Grass Medium 20 gr/m3, Mold Medium
Counter 7 Day: 2 Calc Day: 2 Allergens: Mold Medium with Alternaria.
Counter 8 Day: 3 Calc Day: 3 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 9 Day: 4 Calc Day: 4 Allergens: Grass High 27 gr/m3, Mold Medium with Alternaria
Counter 10 Day: 5 Calc Day: 5 Allergens: Grass Medium 20 gr/m3, Mold Medium with Alternaria.
Counter 11 Day: 6 Calc Day: 6 Allergens: Grass Low 7 gr/m3, Mold Medium
Counter 12 Day: 7 Calc Day: 7 Allergens: Mold Medium.
Counter 13 Day: 8 Calc Day: 8 Allergens: Mold Medium.
Counter 14 Day: 9 Calc Day: 9 Allergens: Grass Medium 20 gr/m3, Mold Medium with Alternaria.
Missing Allergen. Counter 15 Day: 10
Counter 16 Day: 11 Calc Day: 11 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 17 Day: 12 Calc Day: 12 Allergens: Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 18 Day: 13 Calc Day: 13 Allergens: Grass High 27 gr/m3, Mold Medium with Alternaria
Counter 19 Day: 14 Calc Day: 14 Allergens: Grass High 33 gr/m3, Mold Medium with Alternaria
Counter 20 Day: 15 Calc Day: 15 Allergens: Grass High 27 gr/m3, Mold Medium with Alternaria
Counter 21 Day: 16 Calc Day: 16 Allergens: Grass Low 7 gr/m3, Mold High with Alternaria
Counter 22 Day: 17 Calc Day: 17 Allergens: Mold Low.
Counter 23 Day: 18 Calc Day: 18 Allergens: Grass Low 7 gr/m3, Mold Low
Counter 24 Day: 19 Calc Day: 19 Allergens: Grass Low 7 gr/m3, Mold Low
Counter 25 Day: 20 Calc Day: 20 Allergens: Mold Low.
Counter 26 Day: 21 Calc Day: 21 Allergens: Grass Medium 13 gr/m3, Mold Medium.
Counter 27 Day: 22 Calc Day: 22 Allergens: Grass 7 Low gr/m3, Mold High.
Counter 28 Day: 23 Calc Day: 23 Allergens: Mold High.
Counter 29 Day: 24 Calc Day: 24 Allergens: Mold High.
Missing Allergen. Counter 30 Day: 25
Missing Allergen. Counter 31 Day: 26
Counter 32 Day: 27 Calc Day: 27 Allergens: Mold High.
Counter 33 Day: 28 Calc Day: 28 Allergens: Mold High.
Counter 34 Day: 29 Calc Day: 29 Allergens: Mold High.
Counter 35 Day: 30 Calc Day: 30 Allergens: Mold High.
---- Processing file resources/html_files/cal_v2/05_may.html -----
Counter 3 Day: 1 Calc Day: 1 Allergens: Pecan Low 13 gr/m3, Grass Medium 13 gr/m3, Mold Low
Counter 4 Day: 2 Calc Day: 2 Allergens: Mold Low
Counter 5 Day:  Calc Day: 3 Allergens: Mold Low
Counter 7 Day:  Calc Day: 4 Allergens: Mold Low
Counter 9 Day: 5 Calc Day: 5 Allergens: Oak Low 13 gr/m3, Pecan Medium 27 gr/m3, Grass Medium 20 gr/m3, Mold Low
Counter 10 Day:  Calc Day: 6 Allergens: Molds High with Alternaria Mold High with Alternaria
Counter 12 Day:  Calc Day: 7 Allergens: Grass Medium 13 gr/m3, Mold Medium with Alternaria
Counter 14 Day:  Calc Day: 8 Allergens: Mold Medium with Alternaria
Counter 16 Day: 9 Calc Day: 9 Allergens: Pecan Low 13 gr/m3, Mold Medium with Alternaria.
Counter 17 Day: 10 Calc Day: 10 Allergens: Pecan Low 7 gr/m3, Mold Low. This allergy forecast was updated on Friday May 10, 2019.
Counter 18 Day:  Calc Day: 11 Allergens: Pecan Medium 73 gr/m3, Grass Medium 20 gr/m3, Mold Medium with Alternaria.
Counter 20 Day: 12 Calc Day: 12 Allergens: Mold Low. Mold Low.
Counter 21 Day: 13 Calc Day: 13 Allergens: Pecan Low 13 gr/m3, Grass Low 7 gr/m3, Mold Medium with Alternaria
Counter 22 Day: 14 Calc Day: 14 Allergens: Pecan Low 7 gr/m3, Grass High 33 gr/m3, Mold Medium with Alternaria.
Counter 23 Day: 15 Calc Day: 15 Allergens: Pecan Low 7 gr/m3, Grass High 33 gr/m3, Mold Medium with Alternaria.
Counter 24 Day: 16 Calc Day: 16 Allergens: Grass High 27 gr/m3, Mold Low
Counter 25 Day:  Calc Day: 17 Allergens: Grass High 33 gr/m3, Mold Low
Counter 27 Day:  Calc Day: 18 Allergens: Mold Low.
Counter 29 Day: 19 Calc Day: 19 Allergens: Mold Low.
Counter 30 Day: 20 Calc Day: 20 Allergens: Grass Medium 13 gr/m3, Mold Low.
Counter 31 Day: 21 Calc Day: 21 Allergens: Grass High 27 gr/m3, Mold Medium with Alternaria.
Counter 32 Day:  Calc Day: 22 Allergens: Grass High 40 gr/m3, Mold Low.
Counter 34 Day: 23 Calc Day: 23 Allergens: Grass Medium 20 gr/m3, Mold Low.
Counter 35 Day:  Calc Day: 24 Allergens: Grass Medium 13 gr/m3, Mold Medium
Counter 37 Day:  Calc Day: 25 Allergens: Mold Low.
Counter 39 Day: 26 Calc Day: 26 Allergens: Mold Low.
Counter 40 Day:  Calc Day: 27 Allergens: Mold Low.
Counter 42 Day:  Calc Day: 28 Allergens: Grass Low 7 gr/m3, Mold Low.
Counter 44 Day: 29 Calc Day: 29 Allergens: Grass Medium 13 gr/m3, Mold Low
Counter 45 Day: 30 Calc Day: 30 Allergens: Grass Medium 20 gr/m3, Mold Low
Counter 46 Day:  Calc Day: 31 Allergens: Mold Medium with Alternaria.
---- Processing file resources/html_files/cal_v2/03_mar.html -----

In [5]:
# export data to csv
keys = raw_data[0].keys()
# print(keys)

with open('resources/csv_files/kvue_monthly_allergens.csv', 'a') as output_file:
    dict_writer = csv.DictWriter(output_file, restval="-", fieldnames=keys, delimiter=',')
    dict_writer.writeheader()
    dict_writer.writerows(raw_data)

In [133]:
file = ('resources/csv_files/kvue_monthly_allergens.csv')
file

'resources/csv_files/kvue_monthly_allergens.csv'

In [134]:
data = pd.read_csv(file) 
data

           MonthYear Day                                          Allergens
0     September 2019   1                                       Mold Medium.
1     September 2019   2                                       Mold Medium.
2     September 2019   3                        Molds High with Alternaria.
3     September 2019   4                                        Mold Medium
4     September 2019   5  Fall Elm Low 7 gr/m3, Grass Medium 20 gr/m3, a...
5     September 2019   6                                       Mold Medium.
6     September 2019   7                                       Mold Medium.
7     September 2019   8  Grass Medium 13 gr/m3, and Mold Medium with Al...
8     September 2019   9  Ragweed medium 13 gr/m3, Mold Medium with alte...
9     September 2019  10                   Ragweed Low 7 gr/m3, Mold Medium
10    September 2019  11                   Ragweed Low 7 gr/m3, Mold Medium
11    September 2019  12  Ragweed Medium 27 gr/m3, Mold Medium with Alte...
12    September 2019  13  Ragweed Medium 20 gr/m3, Mold Medium with Alte...
13    September 2019  14                 Ragweed Medium 20 gr/m3, Mold Low.
14    September 2019  15  Ragweed Medium 13 gr/m3, Molds High with Alter...
15    September 2019  16  Ragweed High 53 gr/m3, Molds High with Alternaria
16    September 2019  17     Ragweed Low 7 gr/m3, Mold High with Alternaria
17    September 2019  18  Ragweed High 127 gr/m3, Mold High with Alternaria
18    September 2019  19  Ragweed High 106 gr/m3, Mold High with Alternaria
19    September 2019  20  Ragweed High 133 gr/m3, Mold High with Alternaria
20    September 2019  21   Ragweed High 60 gr/m3, Mold High with Alternaria
21    September 2019  22                                                NaN
22    September 2019  23  Ragweed Medium 47 gr/m3, Mold High with Altern...
23    September 2019  24  Ragweed High 133 gr/m3, Mold High with Alterna...
24    September 2019  25  Ragweed High 80 gr/m3, Mold High with Alternar...
25    September 2019  26  Ragweed High 107 gr/m3, Mold High with Alterna...
26    September 2019  27  Ragweed High 117 gr/m3, Mold High with Alterna...
27    September 2019  28  Ragweed High 66 gr/m3, Fall Elm Medium 20 gr/m...
28    September 2019  29  Ragweed High 60 gr/m3, Fall Elm Low 13 gr/m3, ...
29    September 2019  30  Ragweed High 67 gr/m3, Fall Elm Low 13 gr/m3, ...
...              ...  ..                                                ...
1189      March 2019  30  Oak High 300 gr/m3, Grass High 167 gr/m3, Hack...
1190      March 2019  31  Oak High 912 gr/m3, Grass High 1146 gr/m3, Ash...
1191   February 2019   1  Elm Low 13 gr/m3, Cedar Low 27 gr/m3, Mold Hig...
1192   February 2019   2  Elm High 279 gr/m3, Cedar Medium 147 gr/m3, Mo...
1193   February 2019   3                        Elm Low 70 gr/m3, Mold High
1194   February 2019   4  Elm Low 13 gr/m3, Cedar Low 7 gr/m3, Mold High...
1195   February 2019   5  Elm High 93 gr/m3, Ash Low 13 gr/m3, Cedar Low...
1196   February 2019   6  Elm Moderate 66 gr/m3, Ash Low 47 gr/m3, Cedar...
1197   February 2019   7  Elm High 506 gr/m3, Ash High 113 gr/m3, Cedar ...
1198   February 2019   8  Elm High 346 gr/m3, Ash High 113 gr/m3, Mold M...
1199   February 2019   9  Elm High 219 gr/m3, Ash High 93 gr/m3, Mold Me...
1200   February 2019  10   Elm Low 27 gr/m3, Ash Low 53 gr/m3, Mold Medium.
1201   February 2019  11   Elm Low 13 gr/m3, Ash Low 20 gr/m3, Mold Medium.
1202   February 2019  12  Elm Medium 33 gr/m3, Ash Medium 40 gr/m3, Mold...
1203   February 2019  13  Elm Medium 20 gr/m3, Ash Medium 27 gr/m3, Mold...
1204   February 2019  14  Elm High 93 gr/m3, Ash Medium 46 gr/m3, Mold Low.
1205   February 2019  15  Elm High 200 gr/m3, Ash High 113 gr/m3, Mold H...
1206   February 2019  16  Elm High 3383 gr/m3, Ash High 3290 gr/m3, Mold...
1207   February 2019  17   Elm High 160 gr/m3, Ash High 313 gr/m3, Mold Low
1208   February 2019  18  Oak High 133 gr/m3, Elm High 126 gr/m3, Ash Hi...
1209   February 2019  19  Oak High 153 gr/m3, Elm High 126 gr/m3, Ash Hi...
1210   February 2019  20                                          Mold Low.
1211   February 2019  21  Oak Medium 20 gr/m3, Elm High 153 gr/m3, Ash M...
1212   February 2019  22  Elm Medium 40 gr/m3, Ash High 93 gr/m3, Mold M...
1213   February 2019  23  Oak Low 7 gr/m3, Elm High 93 gr/m3, Ash High 1...
1214   February 2019  24  Oak Medium 87 gr/m3, Elm High 226 gr/m3, Mold ...
1215   February 2019  25  Oak High 266 gr/m3, Ash High 93 gr/m3, Elm Med...
1216   February 2019  26  Ash Medium 27 gr/m3, Elm Low 13 gr/m3, Mold Hi...
1217   February 2019  27  Oak Low 13 gr/m3, Ash Medium 20 gr/m3, Elm Hig...
1218   February 2019  28  Ash High 120 gr/m3, Oak Medium 53 gr/m3, Elm M...

[1219 rows x 3 columns]

In [135]:
# date_d =[]
# for d in data['Day']:
#     date_d.append(d)
# len(date_d)
date_my =[]
for d in data['MonthYear']:
    date_my.append(d)
len(date_my)

# dates = zip(date_d, date_my)
# date_list = list(dates)
# date_list
# date_time_str = ''
# date_time_obj = datetime.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')

# print('Date:', date_time_obj.date())
# print('Time:', date_time_obj.time())
# print('Date-time:', date_time_obj)

1219

In [114]:
weather = pd.read_csv("resources/owm/weather.csv")

In [62]:
weather.head()

,dt,dt_iso,city_id,city_name,lat,lon,temp,temp_min,temp_max,pressure,...,rain_today,snow_1h,snow_3h,snow_24h,snow_today,clouds_all,weather_id,weather_main,weather_description,weather_icon
0,1349096400,2012-10-01 13:00:00 +0000 UTC,4671654,NaN,NaN,NaN,288.900000,287.150000,290.370000,1012,...,NaN,NaN,NaN,NaN,NaN,1,741,Fog,fog,50d
1,1349100000,2012-10-01 14:00:00 +0000 UTC,4671654,NaN,NaN,NaN,289.015594,289.015594,289.015594,1012,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
2,1349103600,2012-10-01 15:00:00 +0000 UTC,4671654,NaN,NaN,NaN,289.131188,289.131188,289.131188,1012,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
3,1349107200,2012-10-01 16:00:00 +0000 UTC,4671654,NaN,NaN,NaN,289.246781,289.246781,289.246781,1012,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01
4,1349110800,2012-10-01 17:00:00 +0000 UTC,4671654,NaN,NaN,NaN,289.362406,289.362406,289.362406,1012,...,NaN,NaN,NaN,NaN,NaN,1,800,Clear,sky is Clear,01

In [63]:
columns = ['dt','city_name','city_id','lat','lon','weather_icon', 'sea_level', 'grnd_level', 
           'snow_1h', 'snow_3h', 'snow_24h', 'rain_1h', 'rain_3h', 'rain_24h',
          'weather_main', 'weather_description']

weather = weather.drop(columns, axis=1)

In [64]:
weather

,dt_iso,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_today,snow_today,clouds_all,weather_id
0,2012-10-01 13:00:00 +0000 UTC,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01 14:00:00 +0000 UTC,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01 15:00:00 +0000 UTC,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01 16:00:00 +0000 UTC,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01 17:00:00 +0000 UTC,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800
5,2012-10-01 18:00:00 +0000 UTC,289.478000,289.478000,289.478000,1012,90,2,232,NaN,NaN,1,800
6,2012-10-01 19:00:00 +0000 UTC,289.593594,289.593594,289.593594,1012,90,2,220,NaN,NaN,1,800
7,2012-10-01 20:00:00 +0000 UTC,289.709187,289.709187,289.709187,1012,89,2,208,NaN,NaN,1,800
8,2012-10-01 21:00:00 +0000 UTC,289.824813,289.824813,289.824813,1012,89,2,197,NaN,NaN,1,800
9,2012-10-01 22:00:00 +0000 UTC,289.940406,289.940406,289.940406,1012,89,2,185,NaN,NaN,1,800
10,2012-10-01 23:00:00 +0000 UTC,290.056000,290.056000,290.056000,1012,88,2,174,NaN,NaN,1,800
11,2012-10-02 00:00:00 +0000 UTC,290.171594,290.171594,290.171594,1012,88,2,162,NaN,NaN,1,800
12,2012-10-02 01:00:00 +0000 UTC,290.287188,290.287188,290.287188,1012,87,2,150,NaN,NaN,1,800
13,2012-10-02 02:00:00 +0000 UTC,290.402812,290.402812,290.402812,1012,87,2,139,NaN,NaN,1,800
14,2012-10-02 03:00:00 +0000 UTC,290.518406,290.518406,290.518406,1012,86,2,127,NaN,NaN,1,800
15,2012-10-02 04:00:00 +0000 UTC,290.634000,290.634000,290.634000,1012,86,2,116,NaN,NaN,1,800
16,2012-10-02 05:00:00 +0000 UTC,290.749594,290.749594,290.749594,1012,85,2,104,NaN,NaN,1,800
17,2012-10-02 06:00:00 +0000 UTC,290.865219,290.865219,290.865219,1012,85,2,92,NaN,NaN,1,800
18,2012-10-02 07:00:00 +0000 UTC,290.980813,290.980813,290.980813,1012,85,2,81,NaN,NaN,1,800
19,2012-10-02 08:00:00 +0000 UTC,291.096406,291.096406,291.096406,1012,84,2,69,NaN,NaN,1,800
20,2012-10-02 09:00:00 +0000 UTC,291.212000,291.212000,291.212000,1012,84,2,58,NaN,NaN,1,800
21,2012-10-02 10:00:00 +0000 UTC,291.327594,291.327594,291.327594,1012,83,2,46,NaN,NaN,1,800
22,2012-10-02 11:00:00 +0000 UTC,291.443219,291.443219,291.443219,1012,83,2,34,NaN,NaN,1,800
23,2012-10-02 12:00:00 +0000 UTC,291.558812,291.558812,291.558812,1012,82,2,23,NaN,NaN,1,800
24,2012-10-02 13:00:00 +0000 UTC,291.674406,291.674406,291.674406,1012,82,2,11,NaN,NaN,1,800
25,2012-10-02 14:00:00 +0000 UTC,291.790000,290.150000,294.260000,1013,82,2,0,NaN,NaN,1,800
26,2012-10-02 15:00:00 +0000 UTC,294.610000,293.150000,297.040000,1013,77,2,310,NaN,NaN,1,800
27,2012-10-02 16:00:00 +0000 UTC,296.200000,293.150000,298.710000,1013,60,3,310,NaN,NaN,1,800
28,2012-10-02 17:00:00 +0000 UTC,298.050000,296.150000,300.370000,1013,54,2,0,NaN,NaN,20,801
29,2012-10-02 18:00:00 +0000 UTC,300.020000,298.710000,302.040000,1012,44,4,350,NaN,NaN,20,801
...,...,...,...,...,...,...,...,...,...,...,...,...
67391,2019-10-10 23:00:00 +0000 UTC,306.530000,305.370000,307.590000,1008,38,4,160,NaN,NaN,20,801
67392,2019-10-11 00:00:00 +0000 UTC,305.100000,304.260000,306.150000,1008,41,4,150,NaN,NaN,1,800
67393,2019-10-11 01:00:00 +0000 UTC,303.600000,302.590000,304.820000,1008,52,6,160,NaN,NaN,20,801
67394,2019-10-11 02:00:00 +0000 UTC,302.160000,300.930000,303.150000,1009,66,7,160,NaN,NaN,1,800
67395,2019-10-11 03:00:00 +0000 UTC,300.880000,299.820000,302.150000,1010,62,4,170,NaN,NaN,1,800
67396,2019-10-11 04:00:00 +0000 UTC,299.810000,298.710000,301.150000,1011,69,3,170,NaN,NaN,20,801
67397,2019-10-11 05:00:00 +0000 UTC,299.360000,298.710000,300.370000,1011,74,3,0,NaN,NaN,90,804
67398,2019-10-11 06:00:00 +0000 UTC,299.250000,298.150000,300.370000,1011,74,3,170,NaN,NaN,90,804
67399,2019-10-11 07:00:00 +0000 UTC,299.250000,298.150000,300.370000,1011,74,3,0,NaN,NaN,90,804
67400,2019-10-11 08:00:00 +0000 UTC,299.090000,296.480000,300.930000,1012,74,2,0,NaN,NaN,90,501
67401,2019-10-11 09:00:00 +0000 UTC,291.760000,285.370000,300.930000,1014,82,6,360,NaN,NaN,90,502
67402,2019-10-11 09:00:00 +0000 UTC,291.760000,285.370000,300.930000,1014,82,6,360,NaN,NaN,90,211
67403,2019-10-11 10:00:00 +0000 UTC,286.050000,284.150000,289.260000,1016,93,4,330,NaN,NaN,90,502
67404,2019-10-11 11:00:00 +0000 UTC,284.780000,283.150000,287.040000,1018,87,4,320,NaN,NaN,90,502
67405,2019-10-11 12:00:00 +0000 UTC,283.470000,281.480000,285.370000,1019,81,4,340,NaN,NaN,90,502
67406,2019-10-11 13:00:00 +0000 UTC,282.590000,280.930000,284.820000,1020,81,4,340,NaN,NaN,90,501
67407,2019-10-11 14:00:00 +0000 UTC,281.950000,279.820000,284.260000,1022,81,5,350,NaN,NaN,90,500
67408,2019-10-11 15:00:00 +0000 UTC,281.380000,279.820000,283.150000,1024,81,5,340,NaN,NaN,90,500
67409,2019-10-11 16:00:00 +0000 UTC,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,500
67410,2019-10-11 16:00:00 +0000 UTC,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,721
67411,2019-10-11 16:00:00 +0000 UTC,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,701
67412,2019-10-11 17:00:00 +0000 UTC,280.620000,279.150000,282.150000,1025,81,4,360,NaN,NaN,90,502
67413,2019-10-11 18:00:00 +0000 UTC,280.550000,279.150000,282.150000,1025,76,5,350,NaN,NaN,90,501
67414,2019-10-11 19:00:00 +0000 UTC,280.770000,279.260000,282.150000,1025,70,4,10,NaN,NaN,90,501
67415,2019-10-11 19:00:00 +0000 UTC,280.770000,279.260000,282.150000,1025,70,4,10,NaN,NaN,90,701
67416,2019-10-11 20:00:00 +0000 UTC,282.290000,280.930000,284.150000,1024,66,4,330,NaN,NaN,90,804
67417,2019-10-11 21:00:00 +0000 UTC,283.700000,282.150000,285.150000,1024,58,4,350,NaN,NaN,90,804
67418,2019-10-11 22:00:00 +0000 UTC,285.130000,283.710000,286.480000,1023,54,4,350,NaN,NaN,90,804
67419,2019-10-11 23:00:00 +0000 UTC,285.630000,284.150000,287.150000,1023,44,3,0,NaN,NaN,90,804
67420,2019-10-12 00:00:00 +0000 UTC,285.780000,284.150000,287.150000,1024,44,3,350,NaN,NaN,90,804

In [65]:
# Rename columns for units clarity

rename = {
        "dt_iso" : "date", 
#         "city_name" : "city", 
        "temp" : "temp_K", 
        "temp_min" : "temp_min_K",
        "temp_max" : "temp_max_K", 
        "pressure" : "pres_hPa", 
        "humidity" : "humid_%", 
        "wind_speed" : "wind_mph",
        "rain_today" : "rain_mm", 
        "snow_today" : "snow_mm",
        "clouds_all" : "cloud_%"
}

weather = weather.rename(rename, axis=1)
weather.head()

,date,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_%,wind_mph,wind_deg,rain_mm,snow_mm,cloud_%,weather_id
0,2012-10-01 13:00:00 +0000 UTC,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01 14:00:00 +0000 UTC,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01 15:00:00 +0000 UTC,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01 16:00:00 +0000 UTC,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01 17:00:00 +0000 UTC,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800

In [66]:
weather['date'] = pd.to_datetime(weather['date'], format = '%Y-%m-%d %H:%M:%S +%f %Z').dt.date
weather

,date,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_%,wind_mph,wind_deg,rain_mm,snow_mm,cloud_%,weather_id
0,2012-10-01,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800
5,2012-10-01,289.478000,289.478000,289.478000,1012,90,2,232,NaN,NaN,1,800
6,2012-10-01,289.593594,289.593594,289.593594,1012,90,2,220,NaN,NaN,1,800
7,2012-10-01,289.709187,289.709187,289.709187,1012,89,2,208,NaN,NaN,1,800
8,2012-10-01,289.824813,289.824813,289.824813,1012,89,2,197,NaN,NaN,1,800
9,2012-10-01,289.940406,289.940406,289.940406,1012,89,2,185,NaN,NaN,1,800
10,2012-10-01,290.056000,290.056000,290.056000,1012,88,2,174,NaN,NaN,1,800
11,2012-10-02,290.171594,290.171594,290.171594,1012,88,2,162,NaN,NaN,1,800
12,2012-10-02,290.287188,290.287188,290.287188,1012,87,2,150,NaN,NaN,1,800
13,2012-10-02,290.402812,290.402812,290.402812,1012,87,2,139,NaN,NaN,1,800
14,2012-10-02,290.518406,290.518406,290.518406,1012,86,2,127,NaN,NaN,1,800
15,2012-10-02,290.634000,290.634000,290.634000,1012,86,2,116,NaN,NaN,1,800
16,2012-10-02,290.749594,290.749594,290.749594,1012,85,2,104,NaN,NaN,1,800
17,2012-10-02,290.865219,290.865219,290.865219,1012,85,2,92,NaN,NaN,1,800
18,2012-10-02,290.980813,290.980813,290.980813,1012,85,2,81,NaN,NaN,1,800
19,2012-10-02,291.096406,291.096406,291.096406,1012,84,2,69,NaN,NaN,1,800
20,2012-10-02,291.212000,291.212000,291.212000,1012,84,2,58,NaN,NaN,1,800
21,2012-10-02,291.327594,291.327594,291.327594,1012,83,2,46,NaN,NaN,1,800
22,2012-10-02,291.443219,291.443219,291.443219,1012,83,2,34,NaN,NaN,1,800
23,2012-10-02,291.558812,291.558812,291.558812,1012,82,2,23,NaN,NaN,1,800
24,2012-10-02,291.674406,291.674406,291.674406,1012,82,2,11,NaN,NaN,1,800
25,2012-10-02,291.790000,290.150000,294.260000,1013,82,2,0,NaN,NaN,1,800
26,2012-10-02,294.610000,293.150000,297.040000,1013,77,2,310,NaN,NaN,1,800
27,2012-10-02,296.200000,293.150000,298.710000,1013,60,3,310,NaN,NaN,1,800
28,2012-10-02,298.050000,296.150000,300.370000,1013,54,2,0,NaN,NaN,20,801
29,2012-10-02,300.020000,298.710000,302.040000,1012,44,4,350,NaN,NaN,20,801
...,...,...,...,...,...,...,...,...,...,...,...,...
67391,2019-10-10,306.530000,305.370000,307.590000,1008,38,4,160,NaN,NaN,20,801
67392,2019-10-11,305.100000,304.260000,306.150000,1008,41,4,150,NaN,NaN,1,800
67393,2019-10-11,303.600000,302.590000,304.820000,1008,52,6,160,NaN,NaN,20,801
67394,2019-10-11,302.160000,300.930000,303.150000,1009,66,7,160,NaN,NaN,1,800
67395,2019-10-11,300.880000,299.820000,302.150000,1010,62,4,170,NaN,NaN,1,800
67396,2019-10-11,299.810000,298.710000,301.150000,1011,69,3,170,NaN,NaN,20,801
67397,2019-10-11,299.360000,298.710000,300.370000,1011,74,3,0,NaN,NaN,90,804
67398,2019-10-11,299.250000,298.150000,300.370000,1011,74,3,170,NaN,NaN,90,804
67399,2019-10-11,299.250000,298.150000,300.370000,1011,74,3,0,NaN,NaN,90,804
67400,2019-10-11,299.090000,296.480000,300.930000,1012,74,2,0,NaN,NaN,90,501
67401,2019-10-11,291.760000,285.370000,300.930000,1014,82,6,360,NaN,NaN,90,502
67402,2019-10-11,291.760000,285.370000,300.930000,1014,82,6,360,NaN,NaN,90,211
67403,2019-10-11,286.050000,284.150000,289.260000,1016,93,4,330,NaN,NaN,90,502
67404,2019-10-11,284.780000,283.150000,287.040000,1018,87,4,320,NaN,NaN,90,502
67405,2019-10-11,283.470000,281.480000,285.370000,1019,81,4,340,NaN,NaN,90,502
67406,2019-10-11,282.590000,280.930000,284.820000,1020,81,4,340,NaN,NaN,90,501
67407,2019-10-11,281.950000,279.820000,284.260000,1022,81,5,350,NaN,NaN,90,500
67408,2019-10-11,281.380000,279.820000,283.150000,1024,81,5,340,NaN,NaN,90,500
67409,2019-10-11,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,500
67410,2019-10-11,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,721
67411,2019-10-11,280.720000,279.150000,282.590000,1025,76,4,350,NaN,NaN,90,701
67412,2019-10-11,280.620000,279.150000,282.150000,1025,81,4,360,NaN,NaN,90,502
67413,2019-10-11,280.550000,279.150000,282.150000,1025,76,5,350,NaN,NaN,90,501
67414,2019-10-11,280.770000,279.260000,282.150000,1025,70,4,10,NaN,NaN,90,501
67415,2019-10-11,280.770000,279.260000,282.150000,1025,70,4,10,NaN,NaN,90,701
67416,2019-10-11,282.290000,280.930000,284.150000,1024,66,4,330,NaN,NaN,90,804
67417,2019-10-11,283.700000,282.150000,285.150000,1024,58,4,350,NaN,NaN,90,804
67418,2019-10-11,285.130000,283.710000,286.480000,1023,54,4,350,NaN,NaN,90,804
67419,2019-10-11,285.630000,284.150000,287.150000,1023,44,3,0,NaN,NaN,90,804
67420,2019-10-12,285.780000,284.150000,287.150000,1024,44,3,350,NaN,NaN,90,804

In [68]:
df = weather[:40]
df

,date,temp_K,temp_min_K,temp_max_K,pres_hPa,humid_%,wind_mph,wind_deg,rain_mm,snow_mm,cloud_%,weather_id
0,2012-10-01,288.900000,287.150000,290.370000,1012,93,2,290,NaN,NaN,1,741
1,2012-10-01,289.015594,289.015594,289.015594,1012,92,2,278,NaN,NaN,1,800
2,2012-10-01,289.131188,289.131188,289.131188,1012,92,2,266,NaN,NaN,1,800
3,2012-10-01,289.246781,289.246781,289.246781,1012,91,2,255,NaN,NaN,1,800
4,2012-10-01,289.362406,289.362406,289.362406,1012,91,2,243,NaN,NaN,1,800
5,2012-10-01,289.478000,289.478000,289.478000,1012,90,2,232,NaN,NaN,1,800
6,2012-10-01,289.593594,289.593594,289.593594,1012,90,2,220,NaN,NaN,1,800
7,2012-10-01,289.709187,289.709187,289.709187,1012,89,2,208,NaN,NaN,1,800
8,2012-10-01,289.824813,289.824813,289.824813,1012,89,2,197,NaN,NaN,1,800
9,2012-10-01,289.940406,289.940406,289.940406,1012,89,2,185,NaN,NaN,1,800
10,2012-10-01,290.056000,290.056000,290.056000,1012,88,2,174,NaN,NaN,1,800
11,2012-10-02,290.171594,290.171594,290.171594,1012,88,2,162,NaN,NaN,1,800
12,2012-10-02,290.287188,290.287188,290.287188,1012,87,2,150,NaN,NaN,1,800
13,2012-10-02,290.402812,290.402812,290.402812,1012,87,2,139,NaN,NaN,1,800
14,2012-10-02,290.518406,290.518406,290.518406,1012,86,2,127,NaN,NaN,1,800
15,2012-10-02,290.634000,290.634000,290.634000,1012,86,2,116,NaN,NaN,1,800
16,2012-10-02,290.749594,290.749594,290.749594,1012,85,2,104,NaN,NaN,1,800
17,2012-10-02,290.865219,290.865219,290.865219,1012,85,2,92,NaN,NaN,1,800
18,2012-10-02,290.980813,290.980813,290.980813,1012,85,2,81,NaN,NaN,1,800
19,2012-10-02,291.096406,291.096406,291.096406,1012,84,2,69,NaN,NaN,1,800
20,2012-10-02,291.212000,291.212000,291.212000,1012,84,2,58,NaN,NaN,1,800
21,2012-10-02,291.327594,291.327594,291.327594,1012,83,2,46,NaN,NaN,1,800
22,2012-10-02,291.443219,291.443219,291.443219,1012,83,2,34,NaN,NaN,1,800
23,2012-10-02,291.558812,291.558812,291.558812,1012,82,2,23,NaN,NaN,1,800
24,2012-10-02,291.674406,291.674406,291.674406,1012,82,2,11,NaN,NaN,1,800
25,2012-10-02,291.790000,290.150000,294.260000,1013,82,2,0,NaN,NaN,1,800
26,2012-10-02,294.610000,293.150000,297.040000,1013,77,2,310,NaN,NaN,1,800
27,2012-10-02,296.200000,293.150000,298.710000,1013,60,3,310,NaN,NaN,1,800
28,2012-10-02,298.050000,296.150000,300.370000,1013,54,2,0,NaN,NaN,20,801
29,2012-10-02,300.020000,298.710000,302.040000,1012,44,4,350,NaN,NaN,20,801
30,2012-10-02,299.850000,298.150000,302.040000,1011,39,3,330,NaN,NaN,20,801
31,2012-10-02,300.650000,299.820000,302.040000,1011,42,3,340,NaN,NaN,1,800
32,2012-10-02,300.430000,299.820000,301.480000,1011,42,5,350,NaN,NaN,40,802
33,2012-10-02,299.970000,298.710000,301.150000,1011,36,4,340,NaN,NaN,1,800
34,2012-10-02,299.200000,298.150000,300.150000,1011,36,3,340,NaN,NaN,20,801
35,2012-10-03,298.050000,296.480000,300.150000,1011,36,2,360,NaN,NaN,1,800
36,2012-10-03,295.270000,293.150000,297.150000,1012,44,1,350,NaN,NaN,1,800
37,2012-10-03,293.380000,289.820000,296.150000,1012,43,1,340,NaN,NaN,1,800
38,2012-10-03,292.530000,289.260000,295.150000,1013,49,2,330,NaN,NaN,1,800
39,2012-10-03,291.810000,288.710000,295.150000,1012,68,3,300,NaN,NaN,1,800